.has-float-label {
  position: relative; }
  .has-float-label label {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 100%;
    opacity: 1;
    -webkit-transition: all .2s;
            transition: all .2s;
    top: -.5em;
    left: 12px;
    z-index: 3;
    line-height: 1;
    padding: 0 1px; }
    .has-float-label label::after {
      content: " ";
      display: block;
      position: absolute;
      background: white;
      height: 2px;
      top: 50%;
      left: -.2em;
      right: -.2em;
      z-index: -1; }
  .has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
            transition: all .2s; }
  .has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {}

.input-group .has-float-label {
  display: table-cell; }
  .input-group .has-float-label .form-control {
    border-radius: 4px; }
  .input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px; }

    .opcion{
      font-size: 14px;
    }
    .menu_button{
      font-size: 14px;
    	height: 35px;
    	width:100px;
      border-radius: 10px;
      background:#26B99A;border:1px solid #169F85;
      color: white;

    }

.titulo{
  font-size: 30px;
}
.button{
  height: 15px;
}
    .menu_button:hover,.menu_button:focus,.menu_button:active,.menu_button.active,.open .dropdown-toggle.menu_button{background:#169F85}.btn-dar
